################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HtmlGrabber/DesignTimeBuild
/.vs/HtmlGrabber/v16/Server/sqlite3
