################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HtmlGrabber/DesignTimeBuild
/.vs/HtmlGrabber/v16/Server/sqlite3
/bin/Debug/netcoreapp3.0/Log
/bin/Debug/netcoreapp3.0 - Copy
/Log/07-11-2019_Katha_AM_Viewers-Session 2_1.csv
